@charset "UTF-8";
*{
    margin:0; 
    padding:0;
}

body{
    background-color:beige;
}

#main_container{
   width:600px;
   margin-top:20px;
   margin-right:auto;
   margin-left:auto;
   background-color:#ffffff;
   overflow:hidden;
   padding-top:40px;
   padding-bottom: 40px;
   }

.border {
    border:10px solid #666666;
    border-radius: 15px;
    width:100px;
    height:100px;
}

.blue {
    color:dodgerblue;
    border-color:dodgerblue;
}

.red {
    color:rgb(255, 30, 30);
    border-color:rgb(255, 30, 30);
}

.green {
    color:rgb(30, 255, 30);
    border-color:rgb(30, 255, 34);
}

h2{
    font-size: 80px;
    font-family: verdana;
    text-transform:uppercase;
    text-align: center;
    color:#666666;
}

#a{
    float:left;
    margin-left: 40%;
    margin-bottom: 2px;
}

#b{
    float:left;
    clear:left;
    margin-bottom: 2px;
    margin-left: 30%;
}

#c{
    float:left;
    margin-bottom: 2px;
    margin-left: 2px;

}

#d{
    float:left;
    clear:left;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-left: 20%;
}

#e{
    float:left;
    margin-bottom: 2px;
    margin-left: 2px;
}

#f{
    float:left;
    margin-bottom: 2px;
    margin-left: 2px;
}
